<strong>Olá, {{ deliveryman }}</strong>
<p>Houve um cancelamento de entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong>{{ product }}<br />
</p>
<br/>
<small>Favor desconsiderar a entrega ou entregar o pacote na matriz.</small>
<br />
