<strong>Olá, {{ deliveryman }}</strong>
<p>Houve um agendamento de entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong>{{ product }}<br />
</p>
<br/>
<small>O produto acima encontra-se disponível para retirada.</small>
<br />
